<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Facha-Home</title>
    <!--CSS-->
    <link href="css/styles.css" rel="stylesheet">
    <!--Fuente-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/389db06e45.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header-container-top">
            <div class="logo">
                <img src="img/logo.png" alt="Logo Alta Facha">
            </div>
            <div class="barra-busqueda">
                <input type="text" placeholder="Buscar producto...">
                <button>Buscar</button>
            </div>
            <div class="barra-navegacion">
                <ul>
                    <li><a href="/login"><i class="fa-solid fa-address-card"></i>ACCEDER</a></li>
                    <li><a href="/register"><i class="fa-solid fa-address-book"></i>REGISTRARSE</a></li>
                    <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i>CARRITO</a></li>
                </ul>
            </div>
        </div>
        <div class="header-container-bot">
            <!-- Barra de navegacion -->
            <nav class="barra-navegacion">
                <ul>
                    <li><a href="/"><i class="fa-solid fa-house"></i>HOME</a></li>
                    <li><a href="#hombres"><i class="fa-solid fa-person"></i>HOMBRES</a></li>
                    <li><a href="#mujeres"><i class="fa-solid fa-person-dress"></i>MUJERES</a></li>
                    <li><a href="#ninos"><i class="fa-solid fa-children"></i>NIÑOS</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="main-cotainer-top">
            <div class="tarjeta-top mujer">
                <h1>Mujeres</h1>
            </div>
            <div class="tarjeta-top hombre">
                <h1>Hombre</h1>
            </div>
        </div>
        <section id="descripcion">
            <h2>Nuestra Tienda de Ropa Online</h2>
            <p>Nuestra tienda de ropa online ofrece una amplia selección de prendas de vestir para hombres, mujeres y niños. Trabajamos con marcas reconocidas para ofrecer a nuestros clientes productos de alta calidad y con las últimas tendencias de moda.</p>
        </section>

        <section id="hombres">
            <h2>Ropa para Hombres</h2>

            <div class="contenedor-producto">

                <div class="producto">
                    <img src="ruta-imagen1.jpg" alt="Camisa de hombre">
                    <h2>Camisa de Hombre</h2>
                    <p class="precio">$39.99</p>
                    <p class="descripcion">Camisa de manga larga con estampado otoñal. Ideal para ocasiones casuales y formales.</p>
                    <button>Agregar al carrito</button>
                </div>
    
                <div class="producto">
                    <img src="ruta-imagen2.jpg" alt="Vestido para mujer">
                    <h2>Vestido para Mujer</h2>
                    <p class="precio">$49.99</p>
                    <p class="descripcion">Vestido elegante con diseño floral perfecto para el otoño.</p>
                    <button>Agregar al carrito</button>
                </div>

                <div class="producto">
                    <img src="ruta-imagen2.jpg" alt="Vestido para mujer">
                    <h2>Vestido para Mujer</h2>
                    <p class="precio">$49.99</p>
                    <p class="descripcion">Vestido elegante con diseño floral perfecto para el otoño.</p>
                    <button>Agregar al carrito</button>
                </div>

                <div class="producto">
                    <img src="ruta-imagen2.jpg" alt="Vestido para mujer">
                    <h2>Vestido para Mujer</h2>
                    <p class="precio">$49.99</p>
                    <p class="descripcion">Vestido elegante con diseño floral perfecto para el otoño.</p>
                    <button>Agregar al carrito</button>
                </div>

                <div class="producto">
                    <img src="ruta-imagen2.jpg" alt="Vestido para mujer">
                    <h2>Vestido para Mujer</h2>
                    <p class="precio">$49.99</p>
                    <p class="descripcion">Vestido elegante con diseño floral perfecto para el otoño.</p>
                    <button>Agregar al carrito</button>
                </div>
        
            </div>

        </section>

        <section id="mujeres">
            <h2>Ropa para Mujeres</h2>
        </section>

        <section id="ninos">
            <h2>Ropa para Niños</h2>
        </section>
    </main>

    <footer>
        <div class="footer-container">
          <div class="footer-section">
            <h3>Enlaces</h3>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Productos</a></li>
              <li><a href="#">Acerca de nosotros</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </div>
      
          <div class="footer-section">
            <h3>Contacto</h3>
            <p>Email: info@tuempresa.com</p>
            <p>Teléfono: +1234567890</p>
            <p>Dirección: Calle Principal, Ciudad, País</p>
          </div>
      
          <div class="footer-section">
            <h3>Acerca de nosotros</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              accumsan non ex vitae vestibulum. Suspendisse in magna eu purus
              tristique ullamcorper.
            </p>
          </div>
        </div>
    </footer>
</body>
</html>