<!DOCTYPE html>
<html lang = "es-AR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DH-Proyecto Ropa</title>
    </head>
    <body>
        <header>

            <nav>
                <ul>
                    <li>
                        <a href="/products">
                            Detalles del Producto
                        </a>
                    </li>
                    <li>
                        <a href="/carrito">
                            Carrito de Compras
                        </a>
                    </li>
                    <li>
                        <a href="/registration">
                            Registro
                        </a>
                    </li>
                    <li>
                        <a href="login">
                            Historial de Compras
                        </a>
                    </li>
                </ul>
   
            </nav>
        </header>
        <main>

        </main>
        <footer>
       
        </footer>
    </body>
</html>