<!DOCTYPE html>
<html lang="es">
    <!--Fuente-->
    <%- include('./partials/head.ejs') %>
<body>
    <header>
        <!--Navbar-->
        <%- include('./partials/navbar.ejs') %>
        
    </header>

    <main>        

    </main>

    <footer>
       
    </footer>
    
</body>
</html>