<div class="header-container-top">
    <div class="logo">
        <img src="img/logo.png" alt="Logo Alta Facha">
    </div>
    <div class="barra-busqueda">
        <input type="text" placeholder="Buscar producto...">
        <button>Buscar</button>
    </div>
    <div class="barra-navegacion">
        <ul>
            <li><a href="/login"><i class="fa-solid fa-address-card"></i>ACCEDER</a></li>
            <li><a href="/register"><i class="fa-solid fa-address-book"></i>REGISTRARSE</a></li>
            <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i>CARRITO</a></li>
        </ul>
    </div>
</div>
<div class="header-container-bot">
    <!-- Barra de navegacion -->
    <nav class="barra-navegacion">
        <ul>
            <li><a href="/"><i class="fa-solid fa-house"></i>HOME</a></li>
            <li><a href="#hombres"><i class="fa-solid fa-person"></i>HOMBRES</a></li>
            <li><a href="#mujeres"><i class="fa-solid fa-person-dress"></i>MUJERES</a></li>
            <li><a href="#ninos"><i class="fa-solid fa-children"></i>NIÑOS</a></li>
        </ul>
    </nav>
</div>